.site-footer__container {
  margin-top: 200px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f3f3;
  border: 1px solid #ebebeb;
  padding: 54px 71px 69px 65px;
}
.footer__link {
  @include text-stil-500;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__item1 {
  margin-bottom: 10px;
}
.footer__item2 {
  margin-bottom: 10px;
}
.footer__item3 {
  margin-top: -20px;
  margin-bottom: 10px;
}
.footer__item4 {
  margin-bottom: 10px;
}
.footer__item2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__link1 {
  @include text-stil-500;
}
.footer__link2 {
  @include text-stil-500;
}
.footer__item2 {
  display: flex;
  align-items: center;
}
.footer__item2__img {
  margin-left: -13px;
}
.footer__link3 {
  width: 157px;
  height: 42px;
  @include text-stil-500;
}
.footer__item3 {
  display: flex;
  align-items: center;
}
.footer__item3__img {
  margin-top: -20px;
  margin-right: 5px;
}
.footer__item4 {
  display: flex;
  align-items: center;
}
.footer__link4 {
  @include text-stil-500;
}
.footer__item4__img {
  margin-left: -28px;
  margin-right: 10px;
}
@media only screen and (max-width:834px) {
    .footer-container {
        flex-wrap: wrap;
        padding: 54px 40px 69px 40px;
      }
}
@media only screen and (max-width:500px) {
    .footer-container {
     flex-direction: column;
     gap: 10px;
        padding: 54px 20px 69px 20px;
      }
      .footer__list{
        margin-left: -228px;
      }
      .footer__list1{
        margin-left: 212px;
      }
      .footer__list2{
        margin-left: -170px;
        margin-bottom: 50px;
      }
      .footer__list3{
        margin-left: 170px;
        margin-bottom: 50px;
      }
}
